@model IEnumerable<SchoolWebsite.Models.HousePoint>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.DateAwarded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AwardingTeacher)
        </th>
            
        <th>
            @Html.DisplayNameFor(model => model.AwardedTo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reason)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.DateAwarded)
        </td>
           
        <td>
            @Html.DisplayFor(modelItem => item.AwardingTeacher)
        </td>
           <td>
               @Html.DisplayFor(modelItem => item.AwardedTo)
           </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reason)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HousePointID }) |
            @Html.ActionLink("Details", "Details", new { id=item.HousePointID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HousePointID })
        </td>
    </tr>
}

</table>
