@model SchoolWebsite.Models.Config

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Config</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SystemID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SystemID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RolesAllowed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RolesAllowed)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ConfigID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
