@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Index";

    bool can_delete = false;

    List<string> roles = ViewBag.roles;

    foreach (string x in roles)
    {
        if (User.IsInRole(x))
        {
            can_delete = true;
        }
    }
}

<h2>Roles Listing</h2>

@Html.ActionLink("Create New Role", "Create") | @Html.ActionLink("Manage User Role", "ManageUserRoles")
<hr />
<div>
    @foreach (var role in Model)
    {
        <p>
            <strong>@role.Name | </strong>
            @if (can_delete)
            {
                <span onclick="return confirm('Are you sure you want to delete?')">
                    <a href="~/Views/Roles/Delete?RoleName=@role.Name" class="delLink" style="color:red;">Delete</a>
                </span>
            }

            |
  
            @Html.ActionLink("Edit", "Edit", new { roleName = @role.Name })
        </p>
    }
</div>

